<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="Title" value="Configuration Example"/>
        <add key="DataSource" value="localhost"/>
        <add key="UserID" value="sa"/>
        <add key="Password" value="admin*123"/>
        <add key="InitialCatalog" value="individu300920"/>
    </appSettings>
</configuration>